.about{
    
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.image-container{
    
  width: 100%;
  min-height: 0;
  height: 233px;
}
.image-container img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.des{
    padding: 25px 26px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    max-width: 600px;
}
.des h2{
    line-height: 38px;
    font-weight: bold;
    font-size: 32px;
}
.des p{
    line-height: 22px;
    font-weight: 500;
    font-size: 1rem;
}
.des p:nth-of-type(1){
    margin-top: 30px;
}
.des p:nth-of-type(2){
    margin-top: 15px;
}

.button-container{
    margin-top: 55px;
    background-color: #FFCC8D;
    color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items:flex-start;
    padding: 38px;
}
.button-container p{
    
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}
.button-container button{
    border: none;
    background-color: #161616;
    padding: 12px 22px;
    color: white;
    line-height: 23.9px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    max-width: 175px;
    margin-top: 25px;
}