.footer{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2px;
    background-color: #252525;
    color: #AAAAAA;
    font-size: 14px;
    font-weight: 500;
    line-height: 22.9px;
    margin-top: auto;
}