.home{
    flex:1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}
.description{
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 26px;
}
.description h2{
    color: white;
    line-height: 42px;
    font-size: 36px;
    font-weight: 800;
}

.description p{
    margin-top: 23px;
    color: white;
    line-height: 24px;
    font-weight: 500;
    max-width: 700px;
}

.description button{
    margin-top: 50px;
    color: white;
    border: none;
    width: 100%;
    max-width: 500px;
    padding: 9px;
    text-align: center;
    background-color: #FF8C38;
    border-radius: 5px;
    cursor: pointer;
}