.host-van-detail{
    padding: 45px 26px;
}
.host-van-detail-card{
    padding: 25px;
    background-color: white;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.host-van-detail-static{
    display: flex;
    gap: 26px;
}
.host-van-detail-image{
    height: 160px;
    width: 160px;
    overflow: hidden;
    border-radius: 5px;
    flex-shrink: 0;
}
.host-van-detail-image img{
    height: 100%;
    width:100%;
    object-fit: cover;
    display: block;
}
.host-van-detail-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.host-van-detail-info h3{
    margin-bottom: 0;
    margin-top: 10px;
    font-weight: bold;
    font-size: 26px;
}
.host-van-detail-info p{
    margin-top: 7px;
    font-size: 20px;
}
.host-van-detail-info span{
    font-size: 1rem;
    
}