.van-detail-container{
    padding: 27px;
    padding-bottom: 40px;
}

.van-detail{
    display: flex;
    flex-direction: column;
    
   
}
 .vandetail-flex{
   align-self: center;
    
 }
.back-link{
    display: flex;
    gap: 6px;
    text-decoration: none;
    color: #201F1D;
    font-weight: 500;
    font-size: 1rem;
}
.back-link span{
    color: #858585;
    text-decoration: none;
}
.back-link:hover{
    text-decoration: underline;
}
.vandetail-img-container{
    
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    border-radius: 5px;
    overflow: hidden;
}
.vandetail-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}   

.van-detail h3{
     color: #161616;
}
.van-detail p{
    margin: 0;
}
.van-detail p:nth-of-type(1){
    font-size: 24px;
    font-weight: bold;
     color: #161616;
}
.van-detail p:nth-of-type(2){
    margin-top: 10px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: #161616;
    max-width: 500px;
}
.van-detail button{
    margin-top: 22px;
    background-color: #FF8C38;
    width: 100%;
    max-width: 500px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 32px;
    color: white;
    border: none;
    border-radius: 5px;
}
.day-detail{
     font-size: 20px;
    font-weight: 500;
    text-align: right;
}