.vans-page{
    background-color: #FFF7ED;
    padding: 20px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-link{
    text-decoration: none;
    color: inherit;
    
}
.vans-page h2{
    text-align: left;
}
.van-grid{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 25px;
}
.filter-container{
    display: flex;
    gap: 20px;
}
.luxury,.simple,.rugged{
    border: none;
    color: #4D4D4D;
    text-align: center;
    background-color: #FFEAD0;
    border-radius: 5px;
    padding: 10px 25px;
    cursor: pointer;
}
.clear-filters{
    border: none;
    background: none;
    color: #4D4D4D;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
    cursor: pointer;
}
.luxury:hover,.luxury.selected{
     background-color: #161616;
     color: white;
}
.simple:hover,.simple.selected{
    background-color: #E17654;
    color: white;
}
.rugged:hover,.rugged.selected{
    background-color: #115E59;
    color: white;
}
.mini-card{
   max-width: 230px;
}
.mini-image-container{
    width: 230px;
   height: 230px;
    aspect-ratio: 4/3;
    overflow: hidden;
    border-radius: 5px;
}
.mini-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.mini-card-content{
    margin-top: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.mini-card-content p{
    margin: 0;
    font-size: 20px;
    line-height: 16px;
    font-weight: 500;
}
.day{
    display: block;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
}
.mini-left {

}
.mini-left h3{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 600;
}
@media only screen and (max-width:550px){
    .van-grid{
        grid-template-columns: 1fr;
        justify-items: center;
    }
}