/* ========== CSS RESET ========== */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Inter", sans-serif;
}


.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
}

.host-nav {
    display: flex;
    width: 100%;
}

.host-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 600;
}
/* Host van detail nav */
.host-van-detail-nav {
    display: flex;
    margin-block: 25px;
}

.host-van-detail-nav a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 20px;
}

.host-van-detail-nav a:first-of-type {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 500;
    padding: 5px 15px;
    margin-left: -15px;
}

.host-van-detail-nav a:hover {
    color: #161616;
    text-decoration: underline;
    font-weight: 700;
}

.not-found{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  flex: 1;
  justify-content: center;
  padding:26px;
}
.not-found h1{
  color: #161616;
  font-size: 32px;

}
.return-to-home{
  border: none;
  background-color: #161616;
  border-radius: 5px;
  padding: 13px 143px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;    
}

.login-form > input {
    border: 1px solid rgba(209, 213, 219);
    height: 40px;
    text-indent: 10px;
    font-family: "Inter", sans-serif;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    font-weight: 400;
}

.login-form > input:focus {
    outline: none;
}

.login-form > input:first-of-type {
    border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
    border-radius: 0px 0px 6px 6px;
    border-top: none;
}

.login-form > button {
    background-color: #FF8C38;
    border: none;
    border-radius: 6px;
    height: 55px;
    margin-top: 22px;
    margin-bottom: 20px;
    color: white;
    font-family: "Inter", sans-serif;
}
 .login-icon {
    height: 18px;
    width: 18px;
}

 .login-link {
    display: inline-flex;
    align-items: center;
}

@media only screen and (max-width :400px){
  .host-nav a{
    padding: 5px 15px;
  }
  .return-to-home{
    padding: 13px 50px;
  }
}